<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
  screenshotPath: ../images/template-previews/home.png
  scaffoldSchemaPath:
-->
{% extends "./layouts/base.hubl.html" %}

{% block body %}
  {% dnd_area "dnd_area"
    label="Main section",
  %}

    {# Hero banner #}

    {% include_dnd_partial
      path="../sections/hero-banner.hubl.html",
      context={
        "background_color": light_section_2_background_color
      }
    %}

    {# Logo gallery #}

    {% include_dnd_partial
      path="../sections/logo-gallery.hubl.html",
      context={
        "background_color": light_section_2_background_color
      }
    %}

    {# Heading with three cards #}

    {% include_dnd_partial
      path="../sections/heading-with-three-cards.hubl.html",
      context={
        "background_color": dark_section_1_background_color,
        "section_variant": "section_variant_4",
        "card_variant": "card_variant_4",
      }
    %}

    {# Multi-row alternating #}

    {% include_dnd_partial path="../sections/multi-row-alternating.hubl.html" %}

    {# Testimonial slider #}

    {% dnd_section
      background_color={{ light_section_1_background_color }}
    %}
      {% dnd_module
        path="../components/modules/testimonial_slider",
        groupTestimonial=[
          {
            "groupQuote": {
              "quote": template_translations.home_testimonial_quote.message
            },
            "groupAuthor": {
              "authorName": template_translations.home_testimonial_author_name.message,
              "authorTitle": template_translations.home_testimonial_author_title.message,
              "authorImage": {}
            },
            "groupImage": {
              "showImage": true,
              "image": {
                "alt": "",
                "loading": "lazy",
                "max_height": 300,
                "max_width": 300,
                "size_type": "auto_custom_max",
                "src": get_asset_url("../images/testimonial-author-large.png")
              }
            },
            "groupLink": {
              "linkText": template_translations.home_testimonial_link_text.message,
              "link": {}
            }
          },
          {
            "groupQuote": {
              "quote": template_translations.home_testimonial_quote.message
            },
            "groupAuthor": {
              "authorName": template_translations.home_testimonial_author_name.message,
              "authorTitle": template_translations.home_testimonial_author_title.message,
              "authorImage": {}
            },
            "groupImage": {
              "showImage": true,
              "image": {
                "alt": "",
                "loading": "lazy",
                "max_height": 300,
                "max_width": 300,
                "size_type": "auto_custom_max",
                "src": get_asset_url("../images/testimonial-author-large.png")
              }
            },
            "groupLink": {
              "linkText": template_translations.home_testimonial_link_text.message,
              "link": {}
            }
          },
          {
            "groupQuote": {
              "quote": template_translations.home_testimonial_quote.message,
            },
            "groupAuthor": {
              "authorName": template_translations.home_testimonial_author_name.message,
              "authorTitle": template_translations.home_testimonial_author_title.message,
              "authorImage": {},
            },
            "groupImage": {
              "showImage": true,
              "image": {
                "alt": "",
                "loading": "lazy",
                "max_height": 300,
                "max_width": 300,
                "size_type": "auto_custom_max",
                "src": get_asset_url("../images/testimonial-author-large.png")
              }
            },
            "groupLink": {
              "linkText": template_translations.home_testimonial_link_text.message,
              "link": {}
            }
          }
        ],
        groupStyle={
          "cardStyleVariant": "card_variant_2"
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {# Metrics #}

    {% include_dnd_partial
      path="../sections/metrics.hubl.html",
      context={
        "background_color": light_section_3_background_color,
      }
    %}

    {# Call to action #}

    {% include_dnd_partial path="../sections/call-to-action.hubl.html" %}
  {% end_dnd_area %}
{% endblock body %}
